name: Lab 4 Automated Deployment

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches:
      - "main"

jobs:
  train:
    name: Continuous Integration (CI)
    runs-on: ubuntu-latest
    outputs:
      # Capturing metrics as job outputs for the deploy job to use
      r2_score: ${{ steps.training.outputs.r2_score }}
      mse: ${{ steps.training.outputs.mse }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Training Script
        id: training
        run: | # We use grep to capture the printed lines from script
          output=$(python train.py)
          echo "$output"
          echo "$output" | grep r2_score >> $GITHUB_OUTPUT
          echo "$output" | grep mse >> $GITHUB_OUTPUT

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: model-artifacts
          path: outputs/

  deploy:
    name: Continuous Deployment (CD)
    needs: train
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: model-artifacts

      - name: Compare Metrics
        id: compare
        run: |
          CURR_R2=${{ needs.train.outputs.r2_score }}
          BEST_R2=${{ vars.BEST_R2 }}
          
          if (( $(echo "$CURR_R2 > $BEST_R2" | bc -l) )); then
            echo "better=1" >> $GITHUB_OUTPUT
          else
            echo "better=0" >> $GITHUB_OUTPUT
            echo "2022BCS0054:----Metric did not improve"
          fi

      - name: Login to Docker Hub
        if: steps.compare.outputs.better == '1'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Image
        if: steps.compare.outputs.better == '1'
        run: |
          # Tagging with unique run number and latest
          docker build -t ${{ secrets.DOCKER_USERNAME }}/wine_predict_2022BCS0054:${{ github.run_number }} .
          docker build -t ${{ secrets.DOCKER_USERNAME }}/wine_predict_2022BCS0054:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/wine_predict_2022BCS0054:${{ github.run_number }}
          docker push ${{ secrets.DOCKER_USERNAME }}/wine_predict_2022BCS0054:latest

      - name: Update Baseline Variables
        if: steps.compare.outputs.better == '1'
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}
        run: |
          gh variable set BEST_R2 --body "${{ needs.train.outputs.r2_score }}"
          gh variable set BEST_MSE --body "${{ needs.train.outputs.mse }}"